.mapboxgl-popup {
  max-width: 80px;
  border-color: black;
  background-color: #558985;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  color: #558985;
}


.main-container {
  display: flex;
}

#mapid {
  height: 120vh;
  position: sticky;
  top: 0px;
}

.grid {
  flex-grow: 1;
}
